<h1>Componente usuarios</h1>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control" type="search" placeholder="nombre, apellido o cedula" aria-label="Search">
    <button (click)="listar()" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>

  </form>
</nav>
<br>


    <div *ngIf="arregloUsuarios.length>0">
      <div class="row">
          <div *ngFor="let usuario of arregloUsuarios" > 
            <div  class="card" style="width: 40% ;margin-left: 50%; margin-right: 50%; " >
                <img class="card-img-top" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" style="width: 100%">
                <div class="card-body">
                    <label for="nombreId">Nombre</label>
                    <input type="text" class="form-control" id="nombreId" value={{usuario.nombre}} readonly>
                    <br>
                    <label for="emailId">Email</label>
                    <input type="text" class="form-control" id="emailId" value={{usuario.correo}} readonly>
                    <br>
                    <a href="#" class="btn btn-primary btn-block">editar</a>
                </div>
                
            </div>
                      
            
          <br>
        </div>
      </div>

      <nav aria-label="Page navigation example" style="margin-left: 37%; margin-right: auto;">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav> 

        
    </div>
    
   